.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.user-board-div {
    /* max-height: 600px;
    max-width: 600px; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.ai-board-div {
    /* max-height: 600px;
    max-width: 600px; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.grid-cell {
    border: 1px solid #ccc;
    min-height: 30px;
    min-width: 30px;
}